@import "compass_twitter_bootstrap";

html {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAMAAABw8qpSAAAANlBMVEX+/v78/f3////9/v77/P39/f76+/z3+fr+/v/+///4+vv8/P37/Pz9/f35+vv5+/v4+vr4+foVT4CyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADJJREFUCNd9wUcOACAIADDce/3/sxLlYiS0EOBeMCHTjgf2tGL7LacSNuyehimLNFHN3+sNAdr+RKnSAAAAAElFTkSuQmCC) repeat-x 0 0;
}

#query {
    width: 800px;
    font-size: 32px;
    height: 36px;
    line-height: 36px;
}

.typeahead {
    width: 810px;
}

#ingr {
    margin: 0;
}

#ingr li {
    display: inline-block;
    width: 200px;
    padding-left: 4px;
}

#ingr li:hover {
    background-color: pink;
}

#ingr li label {
    display: inline-block;
    padding-left: 4px;
}

.content {
    margin-top: 1px solid silver;
}
